{% extends 'admin/admin_base.html.twig' %}

{% block body %}
    <div class="pt-3 pb-2 mb-3">
        {{ form_start(form) }}
        {{ form_row(form.file) }}
        <div>
            <input type="submit" value="Importer" />
        </div>
        {{ form_end(form) }}
    </div>

    {% if userTemps is not empty %}
        <div class="pt-3 pb-2 mb-3">
            <button type="button" class="btn btn-primary js-import-users">
                Lancer l'importation
            </button>
            <div class="loader d-none mt-4 mb-4"></div>
        </div>

        <div class="pt-3 pb-2 mb-3 js-import-messages">

        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            function importUsers() {
                $.ajax({
                    url: Routing.generate('import_users'),
                    type: "POST",
                    dataType: "json",
                    async: true,
                    success: function (data)
                    {
                        console.log(data);
                        if(data == 0){
                            $('.js-import-messages').removeClass('js-import-messages').append('<div class="alert alert-success">Import terminé !</div>');

                            $('.js-import-users').remove();
                            $('.loader').addClass('d-none');

                            return true;
                        }
                        else {
                            $('.js-import-messages').append('<div class="alert alert-success alert-import">10 utilisateurs importés</div>');
                            setTimeout(function(){
                                $('.alert-import').fadeOut('fast', function(){
                                    $(this).remove();
                                });
                            }, 3000);

                            return importUsers();
                        }
                    },
                    error: function(jqXHR, textStatus, errorThrown) { // Ajout d'une gestion d'erreurs
                        console.error("AJAX Error:", textStatus, errorThrown, jqXHR.responseText);
                        $('.js-import-messages').append('<div class="alert alert-danger">Erreur lors de l\'importation.</div>');
                        $('.loader').addClass('d-none');
                    }
                });
            }

            $('.js-import-users').on('click', function(){
                $(this).prop('disabled', true);
                $('.loader').removeClass('d-none');

                importUsers();
            });
        });
    </script>
{% endblock %}

