{% extends 'admin/admin_base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">
            Assignation d'un qrcode
        </h1>
    </div>

    <div class="pt-3 pb-2 mb-3">
        <h2>{{ user.firstname ~ ' ' ~ user.lastname }}</h2>
    </div>

    <div class="pt-3 pb-2 mb-3">
        {{ form_start(form) }}
            {{ form_widget(form) }}
            
            <button type="submit" class="btn btn-primary my-1 btn--submit">Valider</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
