<a href="{{ path('signature_tool_sign', {'event': event.id, 'tool': tool.id, 'session': session.id, 'user': user.id}) }}">
    {% if not signature %}
        <i class="fa fa-solid fa-eye" title="icon eyedropper" aria-hidden="true"></i>
    {% elseif signature.isOff %}
        <i class="fa fa-solid fa-circle-xmark" title="icon circle-xmark" aria-hidden="true"></i>
    {% else %}
        <i class="fa fa-solid fa-circle-check" title="icon circle-check" aria-hidden="true"></i>
    {% endif %}
</a>